.carousel-container {
  backface-visibility: hidden;
  position: relative;
  width: 100%;
  overflow: hidden; /* Ensure images don't overflow the container */
}

.carousel-container > img {
  display: none;
  height: auto;
  width: 100%;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out; /* Transition for opacity and transform */
}

.carousel-container > img.image-active {
  display: block;
  width: 100%;
  height: auto;

}

.carousel-dot-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.dot {
  cursor: pointer;
  height: 4px;
  width: 30px;
  margin: 0 5px;
  background-color: #fff;
  display: inline-block;
  transition: opacity 0.6s ease;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.btn-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #f0e21b;
  text-align: center;
  background: 0 0;
  cursor: pointer;
  border: none;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}

.icon-carousel {
  color: #f0e21b;
  opacity: 0.5;
  transition: all 0.2s ease;
  font-size: 4em;
}

.icon-carousel:hover {
  color: #f0e21b;
  opacity: 1;
}

.icon-carousel:active {
  color: #f0e21b;
  opacity: 0.5;
}
