.container__menu-bar {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure the container takes the full width */
}


.menu-bar__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
}

.menu-bar__top, .menu-items {
  width: 1110px; /* Fixed width */
  margin-left: auto;
  margin-right: auto;
}

.menu-bar__logo img {
  width: 100px; /* Adjust the size as needed */
  margin-right: 20px;
}

.phone-button {
  background-color: transparent;
  font-weight: bold;
  border: none;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-bar__top2 {
  background-color: black;
}

.menu-items > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin: 0;
}

.menu-items li {
  padding: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  white-space: nowrap; /* Prevent line breaks */
}

.menu-items li:hover {
  background-color: #efdf00;
  color: black;
}
