<div class="container__menu-bar">
  <div class="menu-bar__top">
    <div class="menu-bar__logo">
      <img src="https://cdn.appdealersites.com.br/premier/premier-renault/logo/PREMIER_RENAULT.png" alt="Premier Renault">
    </div>
    <div class="menu-bar__button">
      <button class="phone-button">
        <i class="pi pi-phone"></i> (61) 3961-1000
      </button>
    </div>
  </div>
  <div class="menu-bar__top2">
    <div class="menu-items">
      <ul>
        <li>NOVOS</li>
        <li>SEMINOVOS</li>
        <li>OFERTAS</li>
        <li>VENDAS DIRETAS</li>
        <li>OFICINA</li>
        <li>PEÇAS E ACESSÓRIOS</li>
        <li>ALUGUEL ON DEMAND</li>
        <li>CONTATO</li>
      </ul>
    </div>
  </div>
</div>
